div{
    background-color: #f5f5f5;
    text-align: center;
    height: 650px;
    width:   600px;
    text-align: left;
     margin: auto; 
     padding: 10px; 
   
}
.java{
    text-align:left;
}
.div2{
    
    text-align: center;
}

